.about {
    overflow-x: hidden;
    height: 935px;
    background-color: $white;
    position: relative;
    color: $darkgray;
        .about__box {
            padding: 5em;;
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100%;
            margin-left: 0;
            justify-content: center;
            align-items: center;
        .about__text {
            margin: 40px 0;
            text-align: center;
            line-height: 54px;
            font-size: 1.8em;
            letter-spacing: -0.6px;
        }
        .signature {
            height: 149px;
            align-self: flex-end;
        }
    }
    }
    .about__image {
        top: 0;
        left: 50%;
        position: absolute;
}