.basic__button {
    background-color: transparent;
    border: 1px solid $darkgray;
    font-size: 2em;
    line-height: 45px;
    margin: 1em;
    width: 310px;
    height: 120px;
    font-family: $font-base;
    color: $darkgray;
    font-weight: 300;
}