.home {
    height: 923px;
    background-repeat: no-repeat;
    background-position: -35vw;
    .container {
        flex-direction: column;
        align-items: end;
        .home__content {
            margin-top: 200px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 60%;
        }
    }
}