.container {

    .info__box {
        margin: 5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    flex-direction: column;
    .login__box {
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        align-items: center;
      .input__box {
        margin: 3em;
        padding: 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $white;
        width: 385px;

        .error {
          color: red;
          font-size: 0.8em;
        }
        .login__label {
            margin-top: 1em;
            display: inline-block;
            align-self: flex-start;
        }
  
        .login__input {
            display: inline-block;
            margin: 1em 0;
        }
      }
  
      .buttons__box {
        position: relative;
        width: 385px;
        display: flex;
        justify-content: space-between;
        .button {
          font-size: 1em;
          height: auto;
          width: auto;
      }

      

        .button--left {
            border: none;
            transform: translateX(-50%);
        }

        .button--right {
            transform: translateX(50%);
        }
      }
    }
  }
  